html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.leaflet-container {
  font-size: 1em;
}

div#map {
  flex-grow: 1;
}

#filters {
  display: flex;
  z-index: 999;
  font-size: 1.5em;

  padding: 0.75em 0.5em;
  background: white;
  border-radius: 0 0 1em 1em;
  @media (min-width: 40em) {
    position: absolute;
    top: 0;
    left: calc(50% - 10em);
    width: 20em;
    $corner: 1em;
    &::before, &::after {
      // https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95
      content: "";
      position: absolute;
      top: 0;
      height: $corner;
      width: 2 * $corner;
      background-color: transparent;
    }
    &::before {
      left: -2 * $corner;
      border-top-right-radius: $corner;
      box-shadow: $corner 0 0 0 white;
    }
    &::after {
      right: -2 * $corner;
      border-top-left-radius: $corner;
      box-shadow: -$corner 0 0 0 white;
    }
  }
  input {
    flex-grow: 1;
    font-size: 1em;
    padding-left: 1.5em;
    background: url("search.png") no-repeat 0.25em;
    background-size: .9em;

    border: none !important;
    outline: none;

    &:focus {
      background-image: url("search-orange.png");
    }
  }
}